<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<body>
    <%- include('./partials/navbar') %>
    <div class="mid">
        <h1 style="color: #04032e">Welcome to XSS Solutions!</h1>
        <p style="width: 50vw; text-align: center; font-size: 1vw; margin-top: 3.5vh">Here at XSS Solutions, we like to perform tasks innovatively and efficiently. Apply now to see if you stand a chance! Bear in mind, though: our admins are quite picky.</p>
        <button class="btn" style="margin-top: 3vh;" onclick="window.location.href = '/apply'">Apply!</button>
    </div>
</body>
</html>